body {
    background: #fff;
    font-family: 'Josefin Sans', serif;
    font-size: 1.5rem;
    color: #222e50;
}

a {
    color: #222e50;
    text-decoration: underline;
}

a:hover {
    color: #222e50
}

button {
    border-radius: 20px;
    font-size: 1.2rem;
}